<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="home">
        <h1>Hello developers, welcome to my first web application</h1>
        <div>
            <h1><a href="http://127.0.0.1:8000/library/" target="_blank"> library page</a></h1>
        </div>
        <div>
            <h1><a href="http://127.0.0.1:8000/users/" target="_blank"> user page</a></h1>
        </div>
        <div>
            <h1><a href="http://127.0.0.1:8000/admin/login/?next=/admin/" target="_parent">admin page</a></h1>
        </div>
    </div>

</body>
</html>



